@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: hsl(148, 38%, 91%);
    --background-end-rgb: hsl(148, 38%, 91%);
  }
}

@font-face {
  font-family: 'Karla';
  src: local('Karla'), url(../fonts/Karla-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
  display: flex;
  justify-content: center;
  align-self: center;
}

main {
  width: 50%;
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background-color: white;
}

h1 {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 3rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}